.container {
  display: flex;
  gap: 20px;
}

.options {
  width: 20%;
}

.options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.options li {
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 1.2em;
}

.options li:hover {
  color: #ff0000;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex-grow: 5;
  margin-right: 50px;
}

@media (max-width: 768px) {
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    flex-grow: 5;
    margin-right: 20px;
  }
}

.image-item img {
  width: 100%;
  height: auto;
}

.message {
  margin-top: 20px; 
  font-size: 1em; 
  text-align: center; 
}

.line {
  width: 20px;
  height: 4px;
  background-color: #ff0000;
  margin-top: 10px;
}

