.banner{
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
  object-fit: cover;
}

.banner h1,
.banner h2,
.banner p,
.banner li {
  line-height: 1; 
  margin-top: 20px;
  font-size: 1.6em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex; /* Make the list inline */
  gap: 20px;  
}

nav ul li {
  font-size: 1.2rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f10f0f;  /* Hover color (yellow) */
}

.copyRight {
  text-align: left;
  padding-left: 1vw;
  padding-top: 1vw;
}

h6 {
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .banner {
    position: sticky;
    width: 100vw;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    /*padding: 20px;*/
    object-fit: contain;
  }
  .banner h1,
  .banner h2,
  .banner p,
  .banner li {
    line-height: 1; 
    font-size: 1em;
  }
}

b {
  font-size: 1.1em;
}
